body {
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
}

.NavBar {
    display: flex;
    justify-content: space-between;
}

.NavBar .Title a {
    color: dimgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 25px;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
}

.NavBar .Title a:hover {
    color: black;
}

.NavBar li {
    display: flex;
    display: inline-block;
    padding: 15px;
}

.NavBar .NavBar_Items li a {
    color: black;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.NavBar .NavBar_Items li a:hover {
    color: dimgrey;
}

.Images {
    padding-top: 25px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.Quotes h3 {
    text-align: center;
    font-weight: 600;
    font-family: fantasy;
}

#Quote2 {
    padding-bottom: 50px;
}

.Foot {
    padding-right: 15px;
    text-align: right;
}

.About_Content .Title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.About_Content .Intro {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 30px;
    font-weight: 550;
}

.About_Content .Photos {
    display: flex;
    justify-content: center;
}

#one {
    padding-right: 30px;
    padding-bottom: 40px;
}

#two {
    padding-top: 40px;
}

.PGI_Content .Title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.PGI_Content .Presentation {
    display: flex;
    justify-content: center;
}